*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/hilt_aggregated_deps/_com_mubin_common_di_RepositoryModule.class
/core/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/hilt_aggregated_deps/_com_mubin_common_di_RepositoryModule.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/hilt_aggregated_deps/_com_mubin_common_di_RepositoryModule.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/hilt_aggregated_deps/_com_mubin_common_di_RepositoryModule.dex
/core/data/build/generated/ksp/debug/java/hilt_aggregated_deps/_com_mubin_common_di_RepositoryModule.java
/core/data/build/kspCaches/debug/backups/java/hilt_aggregated_deps/_com_mubin_common_di_RepositoryModule.java
/core/data/build/intermediates/aar_metadata/debug/writeDebugAarMetadata/aar-metadata.properties
/core/data/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/core/data/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/core/data/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/core/data/build/kspCaches/debug/ap-classpath-entries.bin
/core/data/build/kspCaches/debug/caches.uptodate
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/core/data/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/core/data/build/intermediates/runtime_library_classes_jar/debug/bundleLibRuntimeToJarDebug/classes.jar
/core/data/build/kspCaches/debug/classpath-entries.bin
/core/data/build/kspCaches/debug/classpath-structure.bin
/core/data/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/counters.tab
/core/data/build/kspCaches/debug/symbolLookups/counters.tab
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/META-INF/data_debug.kotlin_module
/core/data/build/intermediates/java_res/debug/processDebugJavaRes/out/META-INF/data_debug.kotlin_module
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/META-INF/data_debug.kotlin_module
/core/data/build/tmp/kotlin-classes/debug/META-INF/data_debug.kotlin_module
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/core/data/build/kspCaches/debug/symbolLookups/file-to-id.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/core/data/build/kspCaches/debug/symbolLookups/file-to-id.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/core/data/build/kspCaches/debug/symbolLookups/file-to-id.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/core/data/build/kspCaches/debug/symbolLookups/file-to-id.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/core/data/build/kspCaches/debug/symbolLookups/file-to-id.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/core/data/build/kspCaches/debug/symbolLookups/file-to-id.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/core/data/build/kspCaches/debug/symbolLookups/file-to-id.tab_i.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/core/data/build/kspCaches/debug/symbolLookups/id-to-file.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/core/data/build/kspCaches/debug/symbolLookups/id-to-file.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/core/data/build/kspCaches/debug/symbolLookups/id-to-file.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/core/data/build/kspCaches/debug/symbolLookups/id-to-file.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/core/data/build/kspCaches/debug/symbolLookups/id-to-file.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
/core/data/build/kspCaches/debug/symbolLookups/id-to-file.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/core/data/build/kspCaches/debug/symbolLookups/id-to-file.tab_i.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab
/core/data/build/kspCaches/debug/symbolLookups/lookups.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/core/data/build/kspCaches/debug/symbolLookups/lookups.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/core/data/build/kspCaches/debug/symbolLookups/lookups.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/core/data/build/kspCaches/debug/symbolLookups/lookups.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/core/data/build/kspCaches/debug/symbolLookups/lookups.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/core/data/build/kspCaches/debug/symbolLookups/lookups.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/core/data/build/kspCaches/debug/symbolLookups/lookups.tab_i.len
/core/data/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/core/data/build/outputs/logs/manifest-merger-debug-report.txt
/core/data/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/core/data/build/intermediates/incremental/mergeDebugAssets/merger.xml
/core/data/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/core/data/build/intermediates/incremental/mergeDebugShaders/merger.xml
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/mubin/common/repo/MovieRepositoryImpl$getAllGenres$1.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$getAllGenres$1.class
/core/data/build/tmp/kotlin-classes/debug/com/mubin/common/repo/MovieRepositoryImpl$getAllGenres$1.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$getAllGenres$1.dex
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/mubin/common/repo/MovieRepositoryImpl$getMovieById$1.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$getMovieById$1.class
/core/data/build/tmp/kotlin-classes/debug/com/mubin/common/repo/MovieRepositoryImpl$getMovieById$1.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$getMovieById$1.dex
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/mubin/common/repo/MovieRepositoryImpl$getMoviesByGenrePaginated$1.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$getMoviesByGenrePaginated$1.class
/core/data/build/tmp/kotlin-classes/debug/com/mubin/common/repo/MovieRepositoryImpl$getMoviesByGenrePaginated$1.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$getMoviesByGenrePaginated$1.dex
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/mubin/common/repo/MovieRepositoryImpl$getMoviesPaginated$1.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$getMoviesPaginated$1.class
/core/data/build/tmp/kotlin-classes/debug/com/mubin/common/repo/MovieRepositoryImpl$getMoviesPaginated$1.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$getMoviesPaginated$1.dex
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/mubin/common/repo/MovieRepositoryImpl$getWishlist$1.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$getWishlist$1.class
/core/data/build/tmp/kotlin-classes/debug/com/mubin/common/repo/MovieRepositoryImpl$getWishlist$1.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$getWishlist$1.dex
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/mubin/common/repo/MovieRepositoryImpl$syncMoviesIfNeeded$$inlined$executeApiRequest$1.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$syncMoviesIfNeeded$$inlined$executeApiRequest$1.class
/core/data/build/tmp/kotlin-classes/debug/com/mubin/common/repo/MovieRepositoryImpl$syncMoviesIfNeeded$$inlined$executeApiRequest$1.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$syncMoviesIfNeeded$$inlined$executeApiRequest$1.dex
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/mubin/common/repo/MovieRepositoryImpl$syncMoviesIfNeeded$1.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$syncMoviesIfNeeded$1.class
/core/data/build/tmp/kotlin-classes/debug/com/mubin/common/repo/MovieRepositoryImpl$syncMoviesIfNeeded$1.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl$syncMoviesIfNeeded$1.dex
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/mubin/common/repo/MovieRepositoryImpl.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl.class
/core/data/build/tmp/kotlin-classes/debug/com/mubin/common/repo/MovieRepositoryImpl.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/com/mubin/common/repo/MovieRepositoryImpl.dex
/core/data/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/core/data/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/core/data/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/core/data/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/core/data/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/core/data/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/core/data/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/core/data/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/mubin/common/di/RepositoryModule.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/mubin/common/di/RepositoryModule.class
/core/data/build/tmp/kotlin-classes/debug/com/mubin/common/di/RepositoryModule.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/com/mubin/common/di/RepositoryModule.dex
/core/data/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/mubin/common/di/RepositoryModule_ProvideMovieRepositoryFactory.class
/core/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/mubin/common/di/RepositoryModule_ProvideMovieRepositoryFactory.class
/core/data/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/mubin/common/di/RepositoryModule_ProvideMovieRepositoryFactory.class
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/transformed/bundleLibRuntimeToDirDebug/com/mubin/common/di/RepositoryModule_ProvideMovieRepositoryFactory.dex
/core/data/build/generated/ksp/debug/java/com/mubin/common/di/RepositoryModule_ProvideMovieRepositoryFactory.java
/core/data/build/kspCaches/debug/backups/java/com/mubin/common/di/RepositoryModule_ProvideMovieRepositoryFactory.java
/core/data/build/.transforms/1e88e87b41bb733e20e1f657de8619e1/results.bin
/core/data/build/kspCaches/debug/sealed
/core/data/build/kotlin/compileDebugKotlin/classpath-snapshot/shrunk-classpath-snapshot.bin
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/core/data/build/kspCaches/debug/sourceToOutputs
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
/core/data/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/core/data/build/kspCaches/debug/symbols
